@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
    background-color: #EAE9E5;
    color: #41291B;
    font-family: "Aladin";
    font: normal 33px/1 "Aladin", Helvetica, sans-serif;
}
section{
    width: 989px;
    margin: 0 auto;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.first-section {
    background-image: url("resources/notebook-bottom.png");
    height: 579px;
    overflow: hidden;
}

.seconde-section {
    background-image: url("resources/notebook-middle.png");
    overflow: visible;
    background-position: 1.4px -0.3px;
    height: 560px;
    background-attachment: local;
    z-index: 9;
}

.tree{
    width: 240px;
    margin-right: 37px;
    margin-top: 10px;
}

.pink-bulb {
    margin-bottom: 150px;
    margin-right: 0px;
    width: 184px;
    animation-delay: 2s;
}

.blue-bulb {
    width: 184px;
    margin-bottom: 100px;
}

.pointer {
    position: absolute;
    width: 200px;
    margin-left: 222px;
}
.onload-animation {
    text-align: center;
}

.first-section nav {
    height: 20%;
    position: relative;
    opacity: 0;
}
.first-section nav.nav-show {
    opacity: 1;
    -webkit-transition: opacity 1.15s ease-in-out;
    -moz-transition: opacity 1.15s ease-in-out;
    -ms-transition: opacity 1.15s ease-in-out;
    -o-transition: opacity 1.15s ease-in-out;
    transition: opacity 1.15s ease-in-out;
}
.first-section nav li{
    margin-top: 40px;
    color: #41291B;
    text-shadow: 1px 1px 0 rgba(140, 140, 140, 0.6), 0px 0px 1px rgba(0, 0, 0, 0.67);
    float: left;
    list-style-type: none;
    cursor: pointer;
}

.first-section nav ul{
    display: flex;
    justify-content: center;
}

.profile-btn{
    margin-right: 124px;
    font-size: 55px;
    margin-left: -34px;
}

.album-btn{
    font-size: 55px;
}

.album-btns li{
    font-size: 45px;
    position: absolute;
}

.album-btns .first {
    transform: rotate(-44deg);
    bottom: 52%;
    left: 77.5%;
}

.album-btns .second {
    transform: rotate(-53deg);
    bottom: 43%;
    left: 74.5%;
}

.album-btns .third {
    margin-left: 9%;
    transform: rotate(-45deg);
    top: 10%;
    left: 65%;
}
.onLoad-photo{
    position: absolute;
    border-radius: 12px;
}
.onLoad-photo:nth-child(1){
    bottom: 5%;
    width: 10%;
    transform: rotate(20deg);
    right: 20%;
}

.onLoad-photo:nth-child(2){
    bottom: 5%;
    width: 10%;
    transform: rotate(-20deg);
    right: 25%;
}

.onLoad-photo:nth-child(3) {
    bottom: 18%;
    width: 10%;
    transform: rotate(30deg);
    right: 25%;
}

.onLoad-photo:nth-child(4) {
    bottom: 10%;
    width: 10%;
    transform: rotate(10deg);
    right: 30%;
}

.onLoad-photo:nth-child(5) {
    bottom: 14%;
    width: 10%;
    transform: rotate(40deg);
    right: 19%;
}

.onLoad-photo:nth-child(6) {
    bottom: 17%;
    width: 10%;
    transform: rotate(-25deg);
    right: 30%;
}

.circles-container span:before{
    position: absolute;
    content: ' \25CF';
}

.circles-container span,
.circles-container img {
    display: none;
    opacity: 0;
}

.circles-container span.animate,
.circles-container img.animate {
    display: block;
    -moz-animation: fadeIn .5s ease-in forwards;
    -o-animation: fadeIn .5s ease-in forwards;
    -webkit-animation: fadeIn .5s ease-in forwards;
    animation: fadeIn ease-in .5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.circle1:before {
    bottom: 5%;
    right: 45%;
    font-size: 47px;

}

.circle2:before {
    bottom: 10%;
    right: 44.5%;
    font-size: 47px;

}

.circle3:before {
    bottom: 15%;
    right: 43.5%;
    font-size: 47px;

}


.circle4:before {
    bottom: 30%;
    right: 38%;
    font-size: 80px;
}

.circle5:before {
    bottom: 35%;
    right: 35%;
    font-size: 120px;
}

.circle6:before {
    bottom: 45.5%;
    right: 39.7%;
    font-size: 64px;
}

.circle7:before {
    bottom: 40.5%;
    right: 32.5%;
    font-size: 58px;
}

.circle8:before {
    bottom: 59.5%;
    right: 41.5%;
    font-size: 64px;
}

.circle9:before {
    bottom: 59.5%;
    right: 30.5%;
    font-size: 64px;
}

.circle10:before {
    bottom: 45.5%;
    right: 22%;
    font-size: 64px;
}

.circle11:before {
    bottom: 55.5%;
    right: 22%;
    font-size: 64px;
}

.circle12:before {
    bottom: 65.5%;
    right: 28.5%;
    font-size: 64px;
}

.circle13:before {
    bottom: 65.5%;
    right: 37.5%;
    font-size: 64px;
}

.circle14:before {
    bottom: 79.5%;
    right: 22.5%;
    font-size: 64px;
}

.circle15:before {
    bottom: 75.5%;
    right: 30.5%;
    font-size: 64px;
}

.circle16:before {
    bottom: 68.2%;
    right: 21.7%;
    font-size: 64px;
}

.circle17:before {
    bottom: .2%;
    right: 5.7%;
    font-size: 64px;
}

.circle18:before {
    bottom: 73.2%;
    right: 5.7%;
    font-size: 64px;
}

.circle19:before {
    bottom: 79.2%;
    right: 5.7%;
    font-size: 64px;
}

.circle20:before {
    bottom: 79.2%;
    right: 8.7%;
    font-size: 64px;
}

.circle21:before {
    bottom: 79.2%;
    right: 2.7%;
    font-size: 64px;
}

.circle22:before {
    bottom: 85.2%;
    right: 3.7%;
    font-size: 64px;
}

.circle23:before {
    bottom: 85.2%;
    right: 7.3%;
    font-size: 64px;
}

.circle24:before {
    bottom: 90.2%;
    right: 5.6%;
    font-size: 64px;
}