@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
    background-color: #EAE9E5;
    color: #41291B;
    font-family: "Aladin";
    font: normal 33px/1 "Aladin", Helvetica, sans-serif;
    position: relative;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
section{
    width: 989px;
    margin: 0 auto;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.play-mode{
    width: 1263px;
    position: relative;
    overflow: hidden;
    z-index: 5;
    margin: 0 auto;
}

.first-section {
    background-image: url("resources/notebook-bottom.png");
    height: 579px;
    overflow: hidden;
}

.third-section {
    background-image: url("resources/notebook-top.png");
    height: 560px;
}

body.full-mode-active .play-mode > *{
    display: none;
}

.tree{
    width: 240px;
    margin-right: 37px;
    margin-top: 10px;
}

.onload-animation .pink-bulb {
    margin-bottom: 150px;
    margin-right: 0px;
    width: 184px;
    animation-delay: 2s;
}

.onload-animation .blue-bulb {
    width: 184px;
    margin-bottom: 100px;
}

.pointer {
    position: absolute;
    width: 200px;
    margin-left: 222px;
}
.onload-animation {
    text-align: center;
}

.first-section nav {
    height: 20%;
    position: relative;
    opacity: 0;
}
.first-section nav.nav-show {
    opacity: 1;
    transition: opacity 1.15s ease-in-out;
}
.first-section nav li{
    margin-top: 40px;
    color: #41291B;
    text-shadow: 1px 1px 0 rgba(140, 140, 140, 0.6), 0px 0px 1px rgba(0, 0, 0, 0.67);
    float: left;
    list-style-type: none;
    cursor: pointer;
}

.first-section nav ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}

.profile-btn{
    margin-right: 124px;
    font-size: 55px;
    margin-left: -34px;
}

.album-btn{
    font-size: 55px;
}

.album-btns li{
    font-size: 45px;
    position: absolute;
}

.album-btns .first {
    transform: rotate(-44deg);
    bottom: 52%;
    left: 77.5%;
}

.album-btns .second {
    transform: rotate(-53deg);
    bottom: 43%;
    left: 74.5%;
}

.album-btns .third {
    margin-left: 9%;
    transform: rotate(-45deg);
    top: 10%;
    left: 65%;
}
.full-mode-button{
    height: 69%;
    transition: 1.5s;
}

.full-mode-button img{
    width: 9%;
    cursor: pointer;
    float: right;
    z-index: 9;
}
.full-mode-button img.active{
    transition: all 1.5s 0.15s;
    margin-top: 9%;
}

.play-nav{
    position: absolute;
    z-index: 9;
    height: 52px;
    width: 395px;
    right: 1%;
    bottom: 580px;
}

.play-nav.active{
    position: fixed;
    z-index: 9;
    top: 15px;
}
body.full-mode-active .play-nav {
    right: 1%;
    bottom: unset;
    top: 23px;
    position: fixed;
}
.gear {
    width: 8%;
    margin-top: 5px;
    z-index: 7;
    margin-right: 4px;
}

.play-box{
    width: 395px;
    z-index: 9;
    height: 75%;
}

.play-box > *:not(:first-child) {
    display: none;
}

body.full-mode-active .play-box{
    display: none;
}
.play-nav.active .play-box > *{
    display: block;
}

.play-nav.active .gear{
    display: none;
}

.play-nav.active .play-btn {
    border-color: transparent;
}
.play-nav.active .play-btn:after {
    opacity: 1;
    width: 20px;
    height: 80px;
    background: transparent;
    position: absolute;
    left: -70px;
    top: -40px;
    border-left: 20px solid #41291B;
    border-right: 20px solid #41291B;
}
.play-box:hover > *{
    display: block;
}

.play-box * {
    float: right;
}

.play-box .score{
    margin-top: 6px;
}

.play-box .score li{
    list-style: none;
    margin-right: 5px;
}

.play-box .pink-bulb{
    width: 15%;
    margin-top: -10px;
}

.play-box .blue-bulb{
    width: 12%;
    margin-top: -3px;
    margin-right: 8px;
}
.play-btn-container{
    overflow: hidden;
}
.play-btn {
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 60px solid #41291B;
    margin-top: -30px;
    margin-right: -10px;
    margin-left: -7px;
    z-index: 1;
    -webkit-transform: scale(0.22);
    -moz-transform: scale(0.22);
    transform: scale(0.22);
    cursor: pointer;
}

.play-btn:before {
    content: '';
    position: absolute;
    top: -75px;
    left: -115px;
    bottom: -75px;
    right: -35px;
    border-radius: 50%;
    border: 10px solid #41291B;
    z-index: 2;
}

.play-btn:after {
    content: '';
    opacity: 0;
    transition: opacity 0.6s;
}

.play-btn:hover:before {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 0.3s;
}
.second-section {
    background-image: url("resources/notebook-middle.png");
    overflow: visible;
    background-position: 1.4px;
    height: 560px;
    background-attachment: local;
    z-index: 8;
}
.second-section img {
    position: absolute;
    border-radius: 10px;
}
.speech-bubble{
    cursor: pointer;
    background-size:100%;
    position:absolute;
    height: 102px;
    width: 102px;
    display: block;
    text-align: center;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
    transition: all 1s;
}
.speech-bubble.right{
    top: 481px;
    left: 659px;
    background-image: url('resources/speech-right.png');
    transform-origin: 75% 95%;
}
.speech-bubble.left{
    top: 491px;
    left: 620px;
    background-image: url('resources/speech-left.png');
    transform-origin: 0 100%;
}
.speech-bubble.scale{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}
.speech-bubble.rotate{
    -webkit-transform: scale(1) rotate(20deg);
    -moz-transform: scale(1) rotate(20deg);
    transform: scale(1) rotate(20deg);
    z-index:1;
}
.speech-bubble span{
    margin-top: 40px;
    display: inline-block;
    font-size: 27px;
}
.onLoad-photo:nth-child(1){
    bottom: 5%;
    width: 10%;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    transform: rotate(20deg);
    right: 20%;
}

.onLoad-photo:nth-child(2){
    bottom: 5%;
    width: 10%;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    transform: rotate(-20deg);
    right: 25%;
}

.onLoad-photo:nth-child(3) {
    bottom: 18%;
    width: 10%;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    transform: rotate(30deg);
    right: 25%;
}

.onLoad-photo:nth-child(4) {
    bottom: 10%;
    width: 10%;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
    right: 30%;
}

.onLoad-photo:nth-child(5) {
    bottom: 14%;
    width: 10%;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    transform: rotate(40deg);
    right: 19%;
}

.onLoad-photo:nth-child(6) {
    bottom: 17%;
    width: 10%;
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    transform: rotate(-25deg);
    right: 30%;
}
.user-photo{
    position: absolute;
    display: none;
    border-radius: 10px;
}
.user-photo.first{
    bottom: 19%;
    width: 10%;
    right: 65%;
    -webkit-transform: rotate(32deg);
    -moz-transform: rotate(32deg);
    transform: rotate(32deg);
}
.user-photos .user-photo{
    opacity: 0;
    -moz-animation: opacity 2.5s forwards;
    -o-animation: opacity 2.5s forwards;
    -webkit-animation: opacity 2.5s forwards;
    animation: opacity 2.5s forwards;
}
.photo1{
    bottom: 24%;
    width: 10%;
    right: 60%;
    -webkit-transform: rotate(16deg);
    -moz-transform: rotate(16deg);
    transform: rotate(16deg);
    z-index: 1;
}
.photo2{
    bottom: 17%;
    width: 10%;
    right: 55%;
    -webkit-transform: rotate(-33deg);
    -moz-transform: rotate(-33deg);
    transform: rotate(-33deg);
}

.photo3{
    bottom: 38%;
    width: 50%;
    right: 55%;
    -webkit-transform: rotate(48deg);
    -moz-transform: rotate(48deg);
    transform: rotate(48deg);
    z-index: 1;
}
.photo4{
    bottom: 29%;
    width: 10%;
    right: 68%;
    -webkit-transform: rotate(-17deg);
    -moz-transform: rotate(-17deg);
    transform: rotate(-17deg);
}

.photo5{
    bottom: 32%;
    width: 12%;
    right: 57%;
    -webkit-transform: rotate(28deg);
    -moz-transform: rotate(28deg);
    transform: rotate(28deg);
}

.photo6{
    bottom: 40%;
    width: 10%;
    right: 67%;
    -webkit-transform: rotate(28deg);
    -moz-transform: rotate(28deg);
    transform: rotate(28deg);
}

.photo7{
    bottom: 75%;
    width: 16%;
    right: 62%;
    -webkit-transform: rotate(-32deg);
    -moz-transform: rotate(-32deg);
    transform: rotate(-32deg);
}

.photo8{
    bottom: 62%;
    width: 16%;
    right: 56%;
    z-index: 1;
}

.photo9{
    bottom: 62%;
    width: 15%;
    right: 64%;
    z-index: 2;
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    transform: rotate(25deg);
}

.photo10{
    bottom: 75%;
    width: 16%;
    right: 54%;
    z-index: 1;
    transform: rotate(34deg);
}

.move-btn{
    display: none;
    opacity: 0.9;
    z-index: 9;
    position: absolute;
}
.resize-btn{
    display: none;
    opacity: 0.9;
    position: absolute;
    pointer-events:none;
    z-index: 9;
}

.rotate-btn{
    display: none;
    opacity: 1;
    position: absolute;
    z-index: 0;
}

.circles-container span:before{
    position: absolute;
    content: ' \25CF';
}

.circles-container span,
.circles-container img {
    display: none;
    opacity: 0;
}

.circles-container span.animate,
.circles-container img.animate {
    display: block;
}
.animate{
    -moz-animation: fadeIn .5s ease-in forwards;
    -o-animation: fadeIn .5s ease-in forwards;
    -webkit-animation: fadeIn .5s ease-in forwards;
    animation: fadeIn ease-in .5s forwards;
}
.circle1:before {
    bottom: 5%;
    right: 45%;
    font-size: 47px;

}

.circle2:before {
    bottom: 10%;
    right: 44.5%;
    font-size: 47px;

}

.circle3:before {
    bottom: 15%;
    right: 43.5%;
    font-size: 47px;

}


.circle4:before {
    bottom: 30%;
    right: 38%;
    font-size: 80px;
}

.circle5:before {
    bottom: 35%;
    right: 35%;
    font-size: 120px;
}

.circle6:before {
    bottom: 45.5%;
    right: 39.7%;
    font-size: 64px;
}

.circle7:before {
    bottom: 40.5%;
    right: 32.5%;
    font-size: 58px;
}

.circle8:before {
    bottom: 59.5%;
    right: 41.5%;
    font-size: 64px;
}

.circle9:before {
    bottom: 59.5%;
    right: 30.5%;
    font-size: 64px;
}

.circle10:before {
    bottom: 45.5%;
    right: 22%;
    font-size: 64px;
}

.circle11:before {
    bottom: 55.5%;
    right: 22%;
    font-size: 64px;
}

.circle12:before {
    bottom: 65.5%;
    right: 28.5%;
    font-size: 64px;
}

.circle13:before {
    bottom: 65.5%;
    right: 37.5%;
    font-size: 64px;
}

.circle14:before {
    bottom: 79.5%;
    right: 22.5%;
    font-size: 64px;
}

.circle15:before {
    bottom: 75.5%;
    right: 30.5%;
    font-size: 64px;
}

.circle16:before {
    bottom: 68.2%;
    right: 21.7%;
    font-size: 64px;
}

.circle17:before {
    bottom: .2%;
    right: 5.7%;
    font-size: 64px;
}

.circle18:before {
    bottom: 73.2%;
    right: 5.7%;
    font-size: 64px;
}

.circle19:before {
    bottom: 79.2%;
    right: 5.7%;
    font-size: 64px;
}

.circle20:before {
    bottom: 79.2%;
    right: 8.7%;
    font-size: 64px;
}

.circle21:before {
    bottom: 79.2%;
    right: 2.7%;
    font-size: 64px;
}

.circle22:before {
    bottom: 85.2%;
    right: 3.7%;
    font-size: 64px;
}

.circle23:before {
    bottom: 85.2%;
    right: 7.3%;
    font-size: 64px;
}

.circle24:before {
    bottom: 90.2%;
    right: 5.6%;
    font-size: 64px;
}
.balloons-container{
    height: 300px;
    margin-top: 240px;
}
.balloon {
    position: absolute;
    right: 0%;
    bottom: 5%;
    z-index: 1;
    width: 160px;
}
.balloon1 {
    position: absolute;
    right: 36%;
    bottom: 38.3%;
    width: 30%;
    z-index: 1;
    display: none;
}
.balloon2 {
    position: absolute;
    display: none;
    right: 44%;
    bottom: 38.8%;
    z-index: 1;
    width: 684px;
}
.user-info > div{
    float: left;
}
.labels-container{
    margin-left: 17%;
    width: 150px;
}
.labels-container label{
    display: block;
    font-weight: bold;
    margin-bottom: 21px;
    text-align: center;
    font-size: 27px;
}
.inputs-container {
    width: 16%;
    height: 20%;
}
.inputs-container input{
    background: transparent;
    width: 82%;
    margin-top: -7px;
    margin-bottom: 28px;
    font: normal 21px/1 "Aladin", Helvetica, sans-serif;
    text-align: center;
    display: block;
    border: 0px;
    border-bottom: 2px solid #41291B;
}
.buttons-container {
    height: 60px;
    width: 692px;
    float: right;
    position: relative;
    z-index: 9;
}
.buttons-container button {
    padding: 0;
    background-color: #442818;
    width: 100px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    float: right;
    font-size: 27px;
    height: 44px;
    margin-top: 1.7px;
    transition: all 1s;
    text-align: center;
    color: #EAE9E5;
}
.buttons-container .register{
    margin-left: 1px;
    margin-right: 209px;
}
.buttons-container .register.active{
    margin-left: -4px;
}
.buttons-container .login.active{
    margin-right: -5px;
}
.buttons-container .user-btn {
    -webkit-transform: rotate(0.25deg);
    -moz-transform: rotate(0.25deg);
    transform: rotate(0.25deg);
    float: left;
    display: none;
}
.buttons-container button.active{
    height: 48px;
    margin-top: -2px;
    position: relative;
    z-index: 9;
    transition: all 1s;
}
.profile-photo-container {
    width: 180px;
    height: 174px;
    margin-left: 95px;
    position: relative;
}
.profile-photo-container > * {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.profile-photo-container input{
    opacity: 0;
    z-index: 9;
}

.note-section{
    position: relative;
    height: 649px;
    width: 100%;
    z-index: 5; 
}

.note-animation-container{
    position: relative;
    float: left;
    width: 40%;
    height: 320px;
    margin-top: 120px;
    z-index: 6;
}

.note-animation {
    width: 528px;
    margin-top: -60px;
    opacity: 0;
    transition: all 1.5s ease-in-out;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
body.full-mode-active .note-animation {
    display: none!important;
}
.cloud-container {
    float: left;
    width: 20%;
    height: 320px;
    position: relative;
    z-index: 6;
    margin-top: 50px;
}
body.full-mode-active .cloud-container {
    z-index: 5;
}
.cloud-header {
    height: 300px;
    position: relative;
    text-align: center;
    margin-top: 110px;
}
.cloud-headers {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 30px;
}
.cloud {
    position: absolute;
    width: 160px;
    left: 60%;
    top: 40%;
    opacity: 1;
}
.cloud1 {
    position: absolute;
    width: 88px;
    left: 32%;
    top: 32%;
    -webkit-transform: rotate(10.97deg);
    -moz-transform: rotate(10.97deg);
    transform: rotate(10.97deg);
    opacity: 1;
}

.cloud2 {
    position: absolute;
    width: 128px;
    left: -15%;
    top: 46.5%;
    -webkit-transform: rotate(-22.91deg);
    -moz-transform: rotate(-22.91deg);
    transform: rotate(-22.91deg);
    opacity: 1;
}

.cloud-container p{
    color: #EAE9E5;
    font: bold 40px/1 "Aladin", Helvetica, sans-serif;
    text-align: center;
}
.chosen-day-container{
    position: absolute;
    top: 43%;
    left: 37%;
    width: 26%;
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    transform: rotate(12deg);
    font-size: 30px;
}
.chosen-day-container p {
    font-size: 30px;
}
.chosen-month-container{
    left: 61%;
    position: absolute;
    z-index: 5;
    top: 64.7%;
    width: 60%;
}
.chosen-year-container{
    position: absolute;
    top: 64%;
    left: -12%;
    width: 50%;
    -webkit-transform: rotate(-22.91deg);
    -moz-transform: rotate(-22.91deg);
    transform: rotate(-22.91deg);
}
body.full-mode-active .cloud-header img{
    opacity: 1;
}

.note-section h1{
    font: bold 80px "Aladin", Helvetica, sans-serif;
    letter-spacing: 7px;
    color: #442818;
    margin-top: 245px;
    margin-left: 15px;
    cursor: pointer;
    display: inline-block;
}

.brush-animation-container {
    position: relative;
    float: left;
    width: 40%;
    height: 320px;
    margin-top: 120px;
    z-index: 5;
}
.brush-animation {
    width: 71%;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
    margin-top: -55px;
    margin-left: 45px;
    transition: all 1.5s ease-in-out; 
    display: none;
}
body.full-mode-active .brush-animation {
    display: none!important;
}
body.full-mode-active .input-note-container{
    position: fixed;
    height: 100%;
    top: 0;
    width: 100%;
    pointer-events: none;
}
.input-note {
    display: none;
    text-align: center;
    position: absolute;
    width: 34%;
    z-index: 9;
    transition: opacity 1.5s ease-in-out;
    pointer-events: all;
}
.input-note:hover input {
    border-bottom: 1px solid #41291B;
}
.input-note:hover .submit-note {
    opacity: 1;
}
body.full-mode-active .input-note.bounce .sticky-note{
    -moz-animation: animation 1000ms linear both;
    -o-animation: animation 1000ms linear both;
    -webkit-animation: animation 1000ms linear both;
    animation: animation 1000ms linear both;
}
body.full-mode-active .input-note {
    top: 17%;
    left: 33%;
}
.input-note.inactive > *{
    display: none;
}
body.full-mode-active .input-note .sticky-note {
    margin-left: 114px;
    margin-top: 115px;
    width: 47.5%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    display: block;
}
.sticky-note {
    width: 100%;
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    transform: rotate(7deg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.input-note input{
    z-index: 8;
    position: relative;
    width: 60%;
    font: bold 45px/1 "Aladin", Helvetica, sans-serif;
    margin-right: 68px;
    margin-top: 73px;
    border-bottom: 1px solid transparent;
}
.input-note textarea{
    height: 266px;
    width: 76.8%;
    font-size: 13px;
    color: #41291B;
    margin-right: 3px;
    margin-top: 5px;
    font-family: Arial;
    resize: none;
}
.move-note{
    position: absolute;
    width: 34%;
    height: 9.5%;
    -webkit-transform: rotate(41deg);
    -moz-transform: rotate(41deg);
    transform: rotate(41deg);
    right: 1.3%;
    top: 17.5%;
}
.submit-note{
    position: absolute;
    width: 11%;
    left: 97%;
    -webkit-transform: rotate(-26.79deg);
    -moz-transform: rotate(-26.79deg);
    transform: rotate(-26.79deg);
    top: 0%;
    opacity: 0;
    cursor: pointer;
}
.full-mode{
    display: none;
    min-height: calc(100vh - 16px);
    border: 8px solid;
    min-width: 1247px;
    text-align: center;
    position: relative;
}

body.full-mode-active .full-mode{
    display: block;
}

.hide {
    opacity: 0;
    transition: opacity 1.15s ease-in-out;
}

.show {
    opacity: 1;
    transition: opacity 1.15s ease-in-out;
}

.full-mode nav{
    height: 0;
    background: #41291b;
    flex-direction: row;
    align-items: stretch;
    transition: all 1.5s 0.15s;
    overflow: hidden;
    position: absolute;
    width: 100%;

    display: -webkit-box; 
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.full-mode nav.active{
    height: 39px;
}

.full-mode nav li{
    float: left;
    color: #eae9e5;
    list-style: none;
    text-align: center;
    cursor: pointer;
    height: 80%;
    border-right: 1px solid #EAE9E5;

    -webkit-box-flex: 1;
        -webkit-flex: 1;  
            -ms-flex: 1;
                flex: 1; 
}

.full-mode nav li:first-child{
    border-left: 1px solid #EAE9E5;
}
.full-mode-circle {
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -30px;
    margin-top: -30px;
    background: url(resources/menu-icon.png) no-repeat center center;
    background-size: 40%;
    border: 3px solid #41291B;
    border-radius: 90px;
    height: 60px;
    width: 60px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    z-index: 5;
    cursor: pointer;
    display: none;
}
body.full-mode-active .full-mode-circle {
    display: block;
}
.full-mode-circle.inactive {
    position: fixed;
    right: 1%;
    margin-right: 0;
    top: 91px;
    width: 37px;
    height: 37px;
    z-index: 9;
}
.timeline-months-container{
    float: left;
    width: 100%;
    margin-top: 60px;
    position: relative;
    display: none;
}
.timeline-months{
    width: 0%;
    height: 200px;
    position: relative;
    float: left;
    overflow: hidden;
    transition: all 2.5s;
}
body.full-mode-active .timeline-months {
    height: 100px;
}
.timeline-months.show{
    width: 100%;
}
ol {
    height: 2.5px;
    width: 1174px;
    background: #41291B;
    z-index: 7;
    position: relative;
    margin-left: 25.5px;
    padding-left: 38px;
    align-items: center;
    display: -webkit-box; 
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-top: 40px;
}
.timeline-years {
    width: 10%;
    position: absolute;
    margin-left: -5px;
    z-index: 6;
    display: none;
}
.timeline-years ol {
    height: 458px;
    width: 40px;
    overflow: hidden;
    background: transparent;
    display: block;
    padding: 0;
    margin-top: 65px;
}
.timeline-years ol::before, 
.timeline-years ol::after {
    border: 0px;
}
.timeline-years p {
    margin-top: -30px;
    font: bold 14px "Aladin", Helvetica, sans-serif;
}
.timeline-years ol li {
    height: 65px;
    opacity: 0;
    transition: 1s opacity;
}
.timeline-years ol li .point {
    margin-left: 3px;
    margin-top: 11px;
    position: relative;
    display: block;
}
ol li {
    float: left;
    width: 88px;
    font: bold 11px arial;
    height: 40px;
    text-align: center;
}
ol li .point {
    content: "";
    margin-left: -8px;
    position: absolute;
    top: -6px;
    width: 0;
    height: 0;
    border-radius: 10px;
    border: 8px solid #41291B;
}
.days-container {
    width: 72px;
    height: 16px;
    border: 3px solid #41291B;
    border-radius: 8px;
    background: #e9e9e4;
    position: absolute;
    bottom: -10px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
button.days-container {
    width: 78px;
    height: 22px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    bottom: 67.95%;
    left: 50.35%;
    overflow: hidden;
    opacity: 0;
}
body.full-mode-active button.days-container {
    bottom: 36.25%;
}
button.days-container:focus{
    width: 160px;
    height: 120px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: height 2s, width 2s ease-in-out;
    opacity: 1;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
}
.days{
    width: 152px;
    margin-top: 15px;
    text-align: center;
    height: 95px;
    font-size: 19px;
}
.days a{
    margin-left: 4px;
    display: inline-block;
    font: normal 19px/1 "Aladin", Helvetica, sans-serif;
    color: #41291B;
}
.timeline-months p {
    margin-top: 40px;
    text-align: center;
}
ol::before,
ol::after {
    content: "";
    display: block;
    width: 0;
    bottom: 0px;
    height: 0;
    border-radius: 10px;
    border: 8px solid #41291B;
    position: absolute;
    top: -7px;
}

ol::before {
    left: -2px;
}

ol::after {
    right: -10px;
    border: 10px solid transparent;
    border-right: 0;
    border-left: 20px solid #41291B;
    border-radius: 3px;
    top: -8px;
}
.nav-point {
    position: absolute;
    z-index: 9;
    transition: all 3s;
    left: 24px;
    top: 33px;
    content: "";
    width: 0;
    height: 0;
    border-radius: 10px;
    border: 8px solid #41291B;
}


.photo-section-full-mode{
    display: none;
    width: 100%;
    margin-top: 50px;
    position:relative;
    z-index: 2;
    text-align: center;
}

.album-one-label{
    height: 68px;
    margin-left: 10px;
    margin-top: 5px;
}
.album-container{
    height: 210px;
    text-align: center;
    padding: 0 12%;
    width: 947px;
    display: block;
    margin: 0 auto;
}
.album-container > div{
    height: 61px;
    width: 121px;
    position: relative;
    border: 3px solid #41291B;
    border-style: double;
    display: inline-block;
    overflow: hidden;
    border-radius: 5px;
}
.album-container div img{
    width: 110%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -moz-animation: fadeIn 1s ease-in forwards;
    -o-animation: fadeIn 1s ease-in forwards;
    -webkit-animation: fadeIn 1s ease-in forwards;
    animation: fadeIn ease-in 1s forwards;
}
.album-numbers{
    background-color: #41291B;
    background-size: 100%;
}
.album-numbers div:hover{
    border: 1px solid #41291B;
}
.album-numbers div{
    background-size: 100%;
    width: 33.3%;
    height: 100%;
    position: absolute;
    display: inline-block;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    transition: all 0.95s, transform 0.4s 0.9s;
    cursor: pointer;

}
.album-numbers.middle div{
    transition: all 0.95s, transform 0.4s;
}
.album-numbers div:nth-child(1){
    background-image: url('resources/one.png');
    left: 0%;
}
.album-numbers div:nth-child(2){
    background-image: url('resources/two.png');
    left: 33.3%;
}
.album-numbers div:nth-child(3){
    background-image: url('resources/three.png');
    left: 66.6%;
}
.album-numbers.active div{
    -webkit-form: scale(0);
    -moz-form: scale(0);
    transform: scale(0);
    transition-delay: 0s;

}
.album-numbers.active div.slide-middle{
    -webkit-form: scale(1);
    -moz-form: scale(1);
    transform: scale(1);
    transition:all 0.9s 0.3s;
    left: 33%;
}
.add-photo {
    background: url('resources/add-photo.png') no-repeat;
    background-size: 100%;
    width: 37px;
    height: 53px;
    position: fixed;
    right: 1%;
    top: 104px;
    border: 0px;
    outline: none;
    cursor: pointer;
}
.add-photo input {
    overflow: hidden;
    width: 110%;
    height: 80%;
    margin-left: -4.5px;
    margin-bottom: 1.9px;
    border-radius: 90px;
    outline: none;
    opacity: 0;
    cursor: pointer;
}
.photos-container-full-mode{
    margin-top: 40px;
    display: inline-block;
}
.drag-photo-container{
    height: 75px;
    width: 151.1px;
    position: relative;
    float: left;
    overflow: hidden;
    border: 1px solid rgb(65, 41, 27);
    margin-left : 2px;
    margin-top: 2px;
    cursor: pointer;
}
.drag-photo-container img{
    width: 110%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.right-notes-container{
    position: absolute;
    bottom: 0;
    margin-left: 18%;
}
.left-notes-container{
    position: absolute;
    bottom: 0;
    margin-left: 33%;
}
.user-note-container {
    width: 395px;
    position: relative;
    height: 210px;
    bottom: 0%;
    opacity: 0;
    margin-top: 197px;
    z-index: 7;
    -moz-animation: fadeIn 1s ease-in forwards;
    -o-animation: fadeIn 1s ease-in forwards;
    -webkit-animation: fadeIn 1s ease-in forwards;
    animation: fadeIn ease-in 1s forwards;
}

.user-note-container input{
    width: 80%;
    text-align: center;
    color: #EAE9E5;
    margin-bottom: 15px;
    pointer-events: none;
}

.user-note-container textarea {
    height: 361px;
    width: 391px;
    color: #EAE9E5;
    background-color: #442818;
    display: none;
    border-radius: 10px;
    border: 5px double #442818;
    margin-left: 279.5px;
    margin-top: -366px;
    position: absolute;
}

.user-note-container.active input {
    pointer-events: all;
}

.user-note-container.active textarea {
    display: block;
}
.user-note-container.active img {
    display: block!important;
    opacity: 1;
}
.user-note {
    height: 100%;
    width: 70%;
    background: url('resources/cloud-note.png') no-repeat bottom;
    background-size: 90%;
    border: 0px;
    outline: none;
    text-align: center;
    position: relative;
}
.user-note button{
    width: 80%;
    text-align: center;
    margin-top: 22px;
    color: #EAE9E5;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

  /* Generated with Bounce.js. Edit at https://goo.gl/3nh2Tp */
  @-webkit-keyframes animation { 
    0% { -webkit-transform: matrix3d(0.6, 0, 0, 0, 0, 0.6, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(0.6, 0, 0, 0, 0, 0.6, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    3.4% { -webkit-transform: matrix3d(1.099, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(1.099, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    4% { -webkit-transform: matrix3d(1.211, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(1.211, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    6.81% { -webkit-transform: matrix3d(1.752, 0, 0, 0, 0, 1.752, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(1.752, 0, 0, 0, 0, 1.752, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    7.91% { -webkit-transform: matrix3d(1.951, 0, 0, 0, 0, 1.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(1.951, 0, 0, 0, 0, 1.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    10.21% { -webkit-transform: matrix3d(2.296, 0, 0, 0, 0, 2.296, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.296, 0, 0, 0, 0, 2.296, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    11.91% { -webkit-transform: matrix3d(2.469, 0, 0, 0, 0, 2.469, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.469, 0, 0, 0, 0, 2.469, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    13.61% { -webkit-transform: matrix3d(2.567, 0, 0, 0, 0, 2.567, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.567, 0, 0, 0, 0, 2.567, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    15.82% { -webkit-transform: matrix3d(2.592, 0, 0, 0, 0, 2.592, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.592, 0, 0, 0, 0, 2.592, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    17.52% { -webkit-transform: matrix3d(2.552, 0, 0, 0, 0, 2.552, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.552, 0, 0, 0, 0, 2.552, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    20.42% { -webkit-transform: matrix3d(2.412, 0, 0, 0, 0, 2.412, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.412, 0, 0, 0, 0, 2.412, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    21.32% { -webkit-transform: matrix3d(2.36, 0, 0, 0, 0, 2.36, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.36, 0, 0, 0, 0, 2.36, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    24.92% { -webkit-transform: matrix3d(2.166, 0, 0, 0, 0, 2.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.166, 0, 0, 0, 0, 2.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    25.23% { -webkit-transform: matrix3d(2.152, 0, 0, 0, 0, 2.152, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.152, 0, 0, 0, 0, 2.152, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    29.03% { -webkit-transform: matrix3d(2.024, 0, 0, 0, 0, 2.024, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.024, 0, 0, 0, 0, 2.024, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    29.53% { -webkit-transform: matrix3d(2.014, 0, 0, 0, 0, 2.014, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.014, 0, 0, 0, 0, 2.014, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    34.03% { -webkit-transform: matrix3d(1.986, 0, 0, 0, 0, 1.986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(1.986, 0, 0, 0, 0, 1.986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    36.74% { -webkit-transform: matrix3d(2.008, 0, 0, 0, 0, 2.008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.008, 0, 0, 0, 0, 2.008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    43.14% { -webkit-transform: matrix3d(2.089, 0, 0, 0, 0, 2.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.089, 0, 0, 0, 0, 2.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    44.44% { -webkit-transform: matrix3d(2.101, 0, 0, 0, 0, 2.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.101, 0, 0, 0, 0, 2.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    52.15% { -webkit-transform: matrix3d(2.126, 0, 0, 0, 0, 2.126, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.126, 0, 0, 0, 0, 2.126, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    59.86% { -webkit-transform: matrix3d(2.106, 0, 0, 0, 0, 2.106, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.106, 0, 0, 0, 0, 2.106, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    70.37% { -webkit-transform: matrix3d(2.094, 0, 0, 0, 0, 2.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.094, 0, 0, 0, 0, 2.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    75.28% { -webkit-transform: matrix3d(2.097, 0, 0, 0, 0, 2.097, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.097, 0, 0, 0, 0, 2.097, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    88.59% { -webkit-transform: matrix3d(2.101, 0, 0, 0, 0, 2.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.101, 0, 0, 0, 0, 2.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    90.69% { -webkit-transform: matrix3d(2.101, 0, 0, 0, 0, 2.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.101, 0, 0, 0, 0, 2.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    100% { -webkit-transform: matrix3d(2.1, 0, 0, 0, 0, 2.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.1, 0, 0, 0, 0, 2.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); } 
  }
  
  @keyframes animation { 
    0% { -webkit-transform: matrix3d(0.6, 0, 0, 0, 0, 0.6, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(0.6, 0, 0, 0, 0, 0.6, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    3.4% { -webkit-transform: matrix3d(1.099, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(1.099, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    4% { -webkit-transform: matrix3d(1.211, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(1.211, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    6.81% { -webkit-transform: matrix3d(1.752, 0, 0, 0, 0, 1.752, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(1.752, 0, 0, 0, 0, 1.752, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    7.91% { -webkit-transform: matrix3d(1.951, 0, 0, 0, 0, 1.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(1.951, 0, 0, 0, 0, 1.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    10.21% { -webkit-transform: matrix3d(2.296, 0, 0, 0, 0, 2.296, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.296, 0, 0, 0, 0, 2.296, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    11.91% { -webkit-transform: matrix3d(2.469, 0, 0, 0, 0, 2.469, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.469, 0, 0, 0, 0, 2.469, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    13.61% { -webkit-transform: matrix3d(2.567, 0, 0, 0, 0, 2.567, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.567, 0, 0, 0, 0, 2.567, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    15.82% { -webkit-transform: matrix3d(2.592, 0, 0, 0, 0, 2.592, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.592, 0, 0, 0, 0, 2.592, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    17.52% { -webkit-transform: matrix3d(2.552, 0, 0, 0, 0, 2.552, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.552, 0, 0, 0, 0, 2.552, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    20.42% { -webkit-transform: matrix3d(2.412, 0, 0, 0, 0, 2.412, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.412, 0, 0, 0, 0, 2.412, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    21.32% { -webkit-transform: matrix3d(2.36, 0, 0, 0, 0, 2.36, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.36, 0, 0, 0, 0, 2.36, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    24.92% { -webkit-transform: matrix3d(2.166, 0, 0, 0, 0, 2.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.166, 0, 0, 0, 0, 2.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    25.23% { -webkit-transform: matrix3d(2.152, 0, 0, 0, 0, 2.152, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.152, 0, 0, 0, 0, 2.152, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    29.03% { -webkit-transform: matrix3d(2.024, 0, 0, 0, 0, 2.024, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.024, 0, 0, 0, 0, 2.024, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    29.53% { -webkit-transform: matrix3d(2.014, 0, 0, 0, 0, 2.014, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.014, 0, 0, 0, 0, 2.014, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    34.03% { -webkit-transform: matrix3d(1.986, 0, 0, 0, 0, 1.986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(1.986, 0, 0, 0, 0, 1.986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    36.74% { -webkit-transform: matrix3d(2.008, 0, 0, 0, 0, 2.008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.008, 0, 0, 0, 0, 2.008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    43.14% { -webkit-transform: matrix3d(2.089, 0, 0, 0, 0, 2.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.089, 0, 0, 0, 0, 2.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    44.44% { -webkit-transform: matrix3d(2.101, 0, 0, 0, 0, 2.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.101, 0, 0, 0, 0, 2.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    52.15% { -webkit-transform: matrix3d(2.126, 0, 0, 0, 0, 2.126, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.126, 0, 0, 0, 0, 2.126, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    59.86% { -webkit-transform: matrix3d(2.106, 0, 0, 0, 0, 2.106, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.106, 0, 0, 0, 0, 2.106, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    70.37% { -webkit-transform: matrix3d(2.094, 0, 0, 0, 0, 2.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.094, 0, 0, 0, 0, 2.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    75.28% { -webkit-transform: matrix3d(2.097, 0, 0, 0, 0, 2.097, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.097, 0, 0, 0, 0, 2.097, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    88.59% { -webkit-transform: matrix3d(2.101, 0, 0, 0, 0, 2.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.101, 0, 0, 0, 0, 2.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    90.69% { -webkit-transform: matrix3d(2.101, 0, 0, 0, 0, 2.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.101, 0, 0, 0, 0, 2.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); }
    100% { -webkit-transform: matrix3d(2.1, 0, 0, 0, 0, 2.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); transform: matrix3d(2.1, 0, 0, 0, 0, 2.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)rotate(7deg); } 
  }

  @keyframes opacity {
    from {
        opacity:0;
    }

    to {
        opacity:1;
    }
}

@-webkit-keyframes opacity {
    from {
        opacity:0;
    }

    to {
        opacity:1;
    }
}

@-moz-keyframes opacity {
    from {
        opacity:0;
    }

    to {
        opacity:1;
    }
}